- var component = json["photo-slideshow/photo-slideshow.json"]
// start `photo-slideshow` component; 
div.photo-slideshow.d-none.d-md-block
  div.slider.photo-slideshow__for
    for slide, index in component.slides
      div.photo-slideshow__for-slide
        div.row
          div.col-8
            div.img-cover
              img(src=slide.imgFull, alt=slide.alt)
          
          div.col-4
            h3=slide.title
            div.photo-slideshow__for-description
              !=slide.description
  
  div.row
    div.col-8
      div.slider.photo-slideshow__nav
        for slide, index in component.slides
          div.photo-slideshow__nav-slide
            div.img-cover
              img(src=slide.imgThumb, alt=slide.alt)
// end `photo-slideshow` component; 
