- var component = json["page-footer/page-footer.json"]
// start `page-footer` component; 
footer.page-footer
  div.container
    div.row
      div.col-12.col-sm-6.col-md-4
        div.img-cover
          img(src=component.logo.img, alt=component.logo.alt)

        nav.page-footer__social
          a(href=component.social.facebook)
            svg.icon-facebook
              title Facebook
              use(xlink:href="../images/icons/icons.svg#icon-facebook")
          a(href=component.social.twitter)
            svg.icon-twitter
              title Twitter
              use(xlink:href="../images/icons/icons.svg#icon-twitter")
          a(href=component.social.instagram)
            svg.icon-instagram
              title Instagram
              use(xlink:href="../images/icons/icons.svg#icon-instagram")

        small.page-footer__legal!=component.legal
      
      div.col-12.col-sm-6.col-md-7.col-md-offset-1
        div.row
          div.col-12.col-md-4
            nav.page-footer__links
              br.d-sm-none
              h3=component.column1.title
              each link in component.column1.links
                a(href=link.url)=link.title
          
          div.col-12.col-md-4
            nav.page-footer__links
              br.d-md-none
              h3=component.column2.title
              each link in component.column2.links
                a(href=link.url)=link.title
          
          div.col-12.col-md-4
            nav.page-footer__links
              br.d-md-none
              h3=component.column3.title
              each link in component.column3.links
                a(href=link.url)=link.title
// end `page-footer` component; 
