mixin renderView (path, resizer)
  div.component__view
    div.component__view-card
      div.component__view-front
        p.component__view-loading loading
      div.component__view-back
        iframe.component__view-iframe(data-src=path)
  - if (resizer) {
    div.component__resizer
      a.component__resizer-link.component__resizer-link--375.js__component--resizer(data-resizer="375px")
      a.component__resizer-link.component__resizer-link--768.js__component--resizer(data-resizer="768px")
      a.component__resizer-link.component__resizer-link--1024.js__component--resizer(data-resizer="1024px")
      a.component__resizer-link.component__resizer-link--100.component__resizer-link--active.js__component--resizer(data-resizer="100%")
  - }

mixin renderCode (view)
  div.tabs
    div.tabs__nav
      - if (view.htmlContent) {
        a.tabs__nav-link
          i.fa.fa-html5
          |  HTML
      - }
      
      - if (view.json) {
        a.tabs__nav-link
          i.fa.fa-code
          |  JSON
      - }
    
      - if (view.js) {
        a.tabs__nav-link
          i.fa.fa-bolt
          |  TypeScript
      - }
    
      - if (view.scss) {
        a.tabs__nav-link
          i.fa.fa-css3
          |  SCSS
      - }
    
    div.tabs__content
      - if (view.htmlContent) {
        div.tabs__content-tab
          pre.language-html
            code.language-html!=view.htmlContent
      - }
      
      - if (view.json) {
        div.tabs__content-tab
          pre.language-json
            code.language-json!=view.jsonContent
      - }
    
      - if (view.js) {
        div.tabs__content-tab
          pre.language-typescript
            code.language-typescript!=view.jsContent
      - }
    
      - if (view.scss) {
        div.tabs__content-tab
          pre.language-scss
            code.language-scss!=view.scssContent
      - }

doctype html
html(lang="en")
  head
    - var title = '/src/components/' + folder
    include ./_head

  body
    include ./_wrapper
      article.card
        div.card__content.card__content--rich-text
          !=markdown
      
      - views.map((view, index) => {
        - if (size && size.indexOf('px')) {
          div.component-grid
            div.component-grid__content 
              div.card
                div.card__content
                  h1.card__content-title=view.title
                  +renderCode(view)
            
            div.component-grid__view(style="width: #{size};")
              +renderView(view.html, 0)
        
        - } else {
          div.card
            div.card__content.card__content--component-head
              h1.card__content-title=view.title
          
            div.card__view
              +renderView(view.html, 1)
          
            div.card__content.card__content--component-foot
              +renderCode(view)
        - }
      - })
    
    include ./_foot
