doctype html
html(lang="en")
  head
    include ./_head

  body
    include ./components/page/page
      div.card
        div.card__content.card__content--colors-head.card__content--rich-text
          h1 Colors
          p All colors defined in the SCSS variables (that aren’t defined in 3rd party plugins) are listed below. Colors with an alpha transparency, <code>rgba()</code>, are shown on top of a gray/white stripped background to show the translucency of the color.

        div.card__content.card__content--colors-body
          - Object.keys(scssVariables).forEach((key, index) => {
            - if (key.indexOf('$color__') === -1) {
              - var regex = new RegExp(scssVariables[key], 'g')
              - var count = (css.match(regex) || []).length
              - var label = count === 0 ? "times" : "time"
              - label = count > 1 ? "times" : label
              div.color-swatch
                div.color-swatch__gradient
                  div.color-swatch__chip(style=`background: ${ scssVariables[key] };`)
                    div.color-swatch__hex=scssVariables[key]
                div.color-swatch__label
                  div.color-swatch__name #{ key }
                  div.color-swatch__name--hex=scssVariables[key]
                  div.color-swatch__count used #{ count } #{ label }
            - }
          - })
    
    include ./_foot
