doctype html
html(lang="en")
  head
    include ./_head

  body
    include ./components/page/page
      div.card
        div.card__content.card__content--rich-text
          h1 Colors
          p Here is the color palatee for INSERT_PROJECT_NAME. All colors on the site (that aren’t defined in 3rd party plugins) are defined below. Even if the color is only used once.
          p The <strong>$shade--</strong> colors have an alpha transparency, so they are shown on top of a gray/white stripped background to show the translucency of the color.
          p Use <a href="http://chir.ag/projects/name-that-color/">http://chir.ag/projects/name-that-color/</a> to generate color names. It’s much easier than dreaming up a name for the fourth blue.
      
        div.card__content.card__content--colors
          - Object.keys(scssVariables).forEach((key, index) => {
            - if (key.indexOf('$color__') === -1) {
              - var count = JSON.stringify(scssVariables).split(scssVariables[key]).length - 2
              - var label = count === 0 ? "times" : "time"
              - label = count > 1 ? "times" : label
              div.color-swatch
                div.color-swatch__gradient
                  div.color-swatch__chip(style=`background: ${ scssVariables[key] };`)
                    div.color-swatch__hex=scssVariables[key]
                div.color-swatch__label
                  div.color-swatch__count used #{ count } #{ label }
                  div.color-swatch__name #{ key }
            - }
          - })
    
    include ./_foot
