- var component = json["site-nav/site-nav.json"]
// start `site-nav` component;
nav.site-nav
  button.site-nav__button.site-nav__button-icon.site-nav__button-icon--open
    svg.icon-bars
      title Open Site Navigation Panel
      use(xlink:href="../images/icons/icons.svg#icon-bars")

  nav.site-nav__drawer
    each section in component.sections
      div.site-nav__section
        if section.links
          button.site-nav__button.site-nav__button-toggle
            span=section.title
            svg.icon-angle-down
              use(xlink:href="../images/icons/icons.svg#icon-angle-down")
          
          div.site-nav__links
            each link in section.links
              a(href=link.url)=link.title
        
        else if section.sections
          button.site-nav__button.site-nav__button-toggle
            span=section.title
            svg.icon-angle-down
              use(xlink:href="../images/icons/icons.svg#icon-angle-down")

          div.site-nav__sub-sections
            each subSection in section.sections
              div.site-nav__sub-section
                p=subSection.title

                if subSection.links
                  div.site-nav__links
                    each link in subSection.links
                      a(href=link.url)=link.title

        else
          a(href=section.url)=section.title
    
    button.site-nav__button.site-nav__button-icon.site-nav__button-icon--close
      svg.icon-times
        title Close Site Navigation Panel
        use(xlink:href="../images/icons/icons.svg#icon-times")
// end `site-nav` component; 
