// start `card` component; 
article.card(class=component.addClass)
  a(href=component.url)
    div.img-cover
      img(src=component.img, alt=component.alt)
    
    if component.h1
      h1=component.title
    
    else if component.h2
      h2=component.title

    else
      h3=component.title
// end `card` component; 
