nav.nav
  a.nav-title Design
  - nav.design.map((design) => {
      a.button.nav-link(href=design.url)
        - design.icons && design.icons.split(' ').map((icon) => {
          i.fa(class=`fa-${ icon }`)
          |  
        - })
        =design.text || 'untitled'
  - })
  
  hr.nav-divider
  
  a.nav-title Templates
  - nav.templates.map((template) => {
      a.button.nav-link(href=template.url)
        - template.icons && template.icons.split(' ').map((icon) => {
          i.fa(class=`fa-${ icon }`)
          |  
        - })
        =template.text || 'untitled'
  - })
  
  hr.nav-divider
  
  a.nav-title Components
  - nav.components.map((component) => {
      a.button.nav-link(href=component.url)
        - component.icons && component.icons.split(' ').map((icon) => {
          i.fa(class=`fa-${ icon }`)
          |  
        - })
        =component.text || 'untitled'
  - })
