- var content = locals.content || [];
doctype html
html(lang="en")
    head
        title ShortDocumentation for [insert project name]
        script(src="//code.jquery.com/jquery-2.1.4.min.js")
        script(src="./js/page-documentation.js")

body
        p default
        
        p=content.length
        ul
            - (content.length) && content.map(function (item) {
                li
                    a(href="./html/" + item.page,
                      target="showme",
                      data-json=item.json,
                      data-jade=item.jade,
                      data-js=item.js,
                      data-scss=item.scss,
                      data-md=item.md,
                      data-folder="../" + item.folder)=item.title
            - })
        
        iframe(name="showme", height="768", width="1024")
