- var content = locals.content || [];
doctype html
html(lang="en")
    head
        title ShortDocumentation for [insert project name]
        script(src="//code.jquery.com/jquery-2.1.4.min.js")
        script(src="./js/page-documentation.js")
        style.
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            html,
            body {
                height: 100%;
                overflow: hidden;
            }
            div.container {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: stretch;
                height: 100%;
            }
            div.col-iframe {
                order: 1;
                border: 1px solid red;
                padding: 16px;
                width: 60%;
                position: relative;
            }
            div.col-readme {
                order: 2;
                padding: 16px;
                width: 40%;
            }
            div.iframe-container {
                position: absolute;
                top: 16px;
                bottom: 16px;
                left: 16px;
                right: 16px;
                border: 1px solid green;
            }
            iframe {
                border: 1px solid red;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            ul {
                margin: 1em 0 0;
                padding-left: 2em;
            }
            ul a {
                cursor: pointer;
            }
            div.tabs,
            div.tab-body {
                padding: 16px;
                border: 1px solid green;
                margin: 16px 0;
            }
            div.tabs a {
                display: inline-block;
                border: 1px solid red;
                padding: 8px;
                cursor: pointer;
            }
            div.tabs a + a {
                margin-left: 16px;
            }
        link()
    
    body
        div.container
            div.col-iframe
                div.iframe-container
                    iframe
            
            div.col-readme
                select.objects
                    - (content.length) && content.map(function (item) {
                    option(
                        data-path="./html/" + item.page,
                        data-json=item.json,
                        data-jade=item.jade,
                        data-js=item.js,
                        data-scss=item.scss,
                        data-md=item.md,
                        data-folder="./" + item.folder)=item.title
                    - })
                select.file-type
                select.files
                div.tab-body
                
